.row{
    display:flex;
}
.rowItem{
    margin-left:20px;
    font-size: 18px;
}

.no-border {
    border-bottom-style: hidden !important;
    border-top-style: hidden !important;
    border-right-style: hidden !important;

}
.no-right-left-border {
    border-right-style: hidden !important;
    border-left-style: hidden !important;
}